<form id="sign-in-form" action="/users/sign-in/form" method="post">

    <input type="email" name="Email" id="Email" placeholder="Your email" required>
    <br><br>

    <div class="p">
        <input type="password" name="Password" id="Password" required  placeholder="Your password" style="font-family:Arial, FontAwesome" />
        <i class="fas fa-eye-slash"></i>
        <i class="fas fa-eye"></i>

    </div>
    <br>
    
    <button type="submit">Sign In</button>

</form>


<strong>New User?? </strong> &nbsp; <a href="/users/sign-up">Sign Up</a>