<form id="sign-up-form" action="/users/sign-up/form" method="post">

    <input type="text" name="Name" id="Name" placeholder="Your name" required><br><br>
    <input type="email" name="Email" id="Email" placeholder="Your email" required><br><br>


    <div class="p">
        <input type="password" name="Password" id="Password" required  placeholder="Your password" style="font-family:Arial, FontAwesome" />
        <i class="fas fa-eye-slash"></i>
        <i class="fas fa-eye"></i>
    </div>


    <br>
    <div class="p">
        <input type="password" name="Confirm_password" id="Confirm_password" placeholder="Confirm your password" required>
        <i class="fas fa-eye-slash"></i>
        <i class="fas fa-eye"></i>
    </div>
   
    <br>
    <button type="submit">Sign Up</button>

</form>




